
{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | inscription {% endblock %}

{% block h1 %}{% endblock %}

{% block body %}
    {{ form_start(formUser) }}
    <div class="row">
<div class="col-md-12">
    <div class="col-md-4">
        {{ form_row(formUser.nom) }}
    </div>
    <div class="col-md-4">
    {{ form_row(formUser.prenom) }}
    </div>
</div>
</div>
    {{ form_row(formUser.adresse) }}

    {{ form_row(formUser.cp) }}

    {{ form_row(formUser.ville) }}

    {{ form_row(formUser.telephone) }}

    {{ form_row(formUser.civilite) }}

    {{ form_row(formUser.pseudo) }}




    <div class="col-md-6">
    {{ form_row(formUser.email) }}
    </div>
    {# 1ere façon bien changer dans user #}
    {# {{ form_row(formUser.password) }}

    {{ form_row(formUser.confirmPassword) }} #}

    {{ form_row(formUser.password.first) }}

    {{ form_row(formUser.password.second) }}






<input type="submit" value="Inscrire" class="btn btn-dark col-md-12 mt-3">

{{ form_end(formUser) }}




{% endblock %}

